* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(0, 0, 0);
}
h1 {
  padding: 10px;
  color: rgba(255, 255, 255, 0.849);
  font-size: 20px;
  font-style: bold;
  margin: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400px;
}
#carouselExampleControls {
  margin: 0;
}
ul {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  margin-right: 30px;
}
.card1 {
  width: 18rem;
  list-style: none;
  border: 1px solid rgba(128, 128, 128, 0.664);
  border-radius: 4px;
  padding: 15px;
  align-items: center;
}
.card1 img {
  max-width: 15rem;
  padding-left: 10px;
}
button {
  border: transparent;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  width: 260px;
  border-radius: 3px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.849);
}
h2,
p {
  padding-left: 12px;
}
footer {
  background-color: black;
  color: white;
}
footer p {
  padding: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
}
